@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/**-------------------------------NAV NAR------------------------------------**/

html {
    scroll-behaviour: smooth;
}

body {
    font-family: 'Merriweather', serif;
    color: #777777;
    background-color: black;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: gray;
    padding-left: 20px;
    text-align: center;
}

#logo {
    float: left;
    font-size-adjust: 280%;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    font-size: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}


/**-------------------------------MAIN PAGE----------------------------------**/

.main-page {
    height: 900px;
    width: 100%;
    padding-top: 90px;
}

.snowboard_01 {
    background-image: url("../img/cave_01.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.95;

}

/**-------------------------------MAP DESTINATIONS-----------------------------------**/

.title_of_map {
    padding-top: 30px;
    ;
}

.snowed_01 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    padding-top: 50px;
    font-size: 24px;
}

.snowed {
    padding-bottom: 30px;
}


#map {
    min-height: 700px;
}

/**-------------------------------INFO---------------------------------------**/

.app-section-header {
  font-size: 30px;
  padding-bottom: 1.5em;
}

h3 {
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: .5em;
  font-size: 1.5em;
  color: white;
}

.h5 {
  margin-bottom: 1em;
  margin-top: 1em;
  color: white;
}

.bg-body .row {
  text-align: center;
  padding-top: 10px;
}


.bg {
  background-color: #252525;
  border-radius: 2.5%;
  width: auto;
  height: 80%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin: 4% 7%;
  display: inline-block;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
  letter-spacing: 3px;
}

.bg-body 
.applications-text {
  font-size: 15px;
  color: #c7c7c7;
  line-height: inherit;
}

.scroll-applications,
.cards {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}



/**-------------------------------ABOUT US-----------------------------------**/

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.heading {
    text-align: center;
    font-size: 45px;
    color: gray;
}

.snowed {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #c5c5c5;
    padding-top: 40px;
    font-size: 3.5em;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
    color: #afafaf;
}

.button-below {
    padding-bottom: 30px;
}

.row {
    text-align: center;
}

.btn {
    padding: 15px 25px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    margin-right: auto;
    margin-left: auto;
}

.btn_primary {
    background: #71777b;
    color: white;
}

.btn_primary:hover {
    transform: scale(1.10);
}

/**-------------------------------CONTACT BAR--------------------------------**/

.contact-us {
    text-transform: uppercase;
    text-align: center;
    color: gray;
    text-decoration: none;

}

input[type=text],
select,
textarea {
    width: 100%;
    text-align: left;
    padding: 12px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    position: inherit;
}

input[type=submit]:hover {
    background-color: #4d4d4d;
}

.contact {
    background-color: transparent;
    padding: 20px;
}



/**-------------------------------SCROLL TOP BUTTON-------------------------------------**/
#scroll-top {
    display: inline-block;
    background-color: red;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed; 
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: background-color .5s, opacity .7s, visibility .7s;
    border-radius: 2px;
    bottom: 20px;
    right: 20px;
}

#scroll-top::after {
    font-family: monospace;
    font-size: 24px;
    color: white!important;
    line-height: 40px;
    content: "/f077";
}

#scroll-top:hover {
    background-color: gray;
    cursor: pointer;
}

#scroll-top.show {
    visibility: visible;
    opacity: 1;
}

/**-------------------------------DIVIDER-------------------------------------**/

hr {
  width: 200px;
  height: 3px;
  border: 0;
  background-color: grey;
  margin-top: 2em;

}
/**-------------------------------FOOTER-------------------------------------**/

.footer-bottom {
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


i {
    display: inline-block;
    color: white;
    font-size: 28px;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

i:hover {
    color: grey;
}
