@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/**-------------------------------NAV NAR-------------------------------**/



body {
    font-family: 'Merriweather', serif;
    color: #777777;
}

h2 {
  font-family: Oswald; 
  text-transform: uppercase;
  letter-spacing: 4px;
  color:gray;
  padding-left: 20px;
}

#logo {
    float: left;
    font-size-adjust: 280%;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
     border-bottom: 1px solid #777777;
}